* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: white;
    width: 890px;
    font-family: 'Roboto', sans-serif;
}

.pages_on_nav {
    margin-left: 70px;
}

.topnav a {
    float: left;
    padding: 10px 16px 10px 0px;
    font-size: 9px;
    display: block;
    text-decoration: solid;
}



.btn {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-style: double;
    border-color: black;
    border-width: 3px;
}

.main_heading {
    color: white;
    padding-left: 5px;
    padding-top: 155px;
    font-size: 40px;
}

.parallax {
    background-image: url('image3.png');
    height: 500px;
    width: 890px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 990px 600px;
}


button {
    background-color: white;
    color: black;
    padding: 6px 16px;
    font-size: 14px;
}

.button_div {
    padding-left: 540px;
    padding-top: 40px;
}

.blue {
    color: #195eb0
}



.row {
    width: 1000px;
    height: 360px;
    font-size: large;
    padding-top: 10px;
}

.image_col1 {
    background-image: url('flower.png');
    height: 270px;
    width: 240px;
    float: left;
    display: inline;
    margin-left: 70px;
    background-size: 90%;
}

.des_col1 {
    padding-top: 100px;
    height: 270px;
    margin-left: 80px;
    width: 300px;
    display: inline;
}
.right {
    width: 35%;
}
.testimonial {
    background-color: white;
    padding-top: 30px;
    margin-left: 70px;
    height: 300px;
    width: 500px;
    text-align: center;
}
.semiColon {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 36px; 
    font-weight: 100;
    color: black;
}

.test {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 36px; 
    font-weight: 100;
    color: black;
}
.Jimmy {
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 36px; 
    font-weight: 100;
    color: rgb(252, 165, 5);
}

.gallery {
    
    background-image: url('flower.png');
    height: 270px;
    width: 240px;
    display: inline;
    margin-left: 70px;
    background-size: 90%;
    float: right;
}
.bgp {
    background-image: url('image2.png');
    height: 500px;
    width: 840px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 70px 70px;
    background-repeat: no-repeat;
    background-size: 700px 500px;

    margin-left: 70px;
}

.trans {
    background-image: url('image2.png');
    height: 20px;
    width: 840px;
    color: transparent;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 70px 70px;
    background-repeat: no-repeat;
    background-size: 700px 500px;

    margin-left: 70px;
}

.btn {
    pointer-events: none;
    background-color: rgb(189,156,88);
    font-family: Arial, Helvetica, sans-serif;
    border-color: white;
    border: 1px solid white;
}

.footer {
    background-color: rgb(189,156,88);
    margin-top: 40px;
    margin-left: 70px;
    height: 100px;
    width: 940px;
    
}
.foot1 {
    float: left;
    
    margin-left: 30px;
    padding-top: 20px;

}

.v1 {
    border-left: 1px solid white;
    height: 45px;
    float: left;
    margin-left: 20px;
    
    margin-top: 20px;
  }

.foot2 {
    float: left;
    margin-left: 80px;
    
    padding-top: 20px;
    
}

.v2 {
    border-left: 1px solid white;
    height: 45px;
    float: left;
    margin-left: 20px;
    
    margin-top: 20px;
  }

.foot3 {
    float: left;
    margin-left: 80px;
    
    padding-top: 20px;
}
.book {
    float: left;
    margin-left: 80px;
    
    padding-top: 20px;
}
.trans2 {
    background-color: transparent;
    height: 20px;
    width: 840px;
    color: transparent;
}
